@charset "UTF-8";
/*==========================================
  Common
==========================================*/
/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #444444;
  font-family: YakuHanJP_Noto, "Noto Sans JP", san-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.sp {
  display: none !important;
}

a {
  color: #444444;
  text-decoration: none;
  transition: 0.3s;
}

a:visited {
  color: #444444;
}

a:hover {
  color: #444444;
  text-decoration: none;
}

a:active {
  color: #444444;
}

a.tel {
  pointer-events: none;
  cursor: default;
}

/* main
==================================*/
main {
  display: block;
  /*IE対策*/
}

/*　Retina対応時のCSS↓　*/
/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 150px;
  transition: .3s ease-in-out;
}

header.scroll {
  height: 110px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

header.scroll .header_inner {
  padding-bottom: 24px;
}

header.scroll .header_inner .h_right .nav_wrap .bottom {
  margin-top: 10px;
}

header .header_inner {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  transition: .3s ease-in-out;
}

header .header_inner .h_left {
  width: 235px;
}

header .header_inner .h_right {
  width: calc(100% - 235px);
}

header .header_inner .h_right .nav_wrap {
  display: flex;
  flex-wrap: wrap;
}

header .header_inner .h_right .nav_wrap .top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header_inner .h_right .nav_wrap .top li:last-child a {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #2c2c2c;
}

header .header_inner .h_right .nav_wrap .top li:last-child a img {
  width: 16px;
  margin-right: 7px;
}

header .header_inner .h_right .nav_wrap .top li:not(:last-child) {
  border-right: 1px solid #bbbbbb;
  margin-right: 25px;
  padding-right: 25px;
}

header .header_inner .h_right .nav_wrap .top li a {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #2c2c2c;
}

header .header_inner .h_right .nav_wrap .top li a:hover {
  color: #6a4c29;
}

header .header_inner .h_right .nav_wrap .top li a img {
  width: 19px;
  margin-right: 10px;
}

header .header_inner .h_right .nav_wrap .bottom {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  transition: .3s ease-in-out;
}

header .header_inner .h_right .nav_wrap .bottom li:not(:last-child) {
  margin-right: 35px;
}

@media only screen and (max-width: 1100px) {
  header .header_inner .h_right .nav_wrap .bottom li:not(:last-child) {
    margin-right: 20px;
  }
}

header .header_inner .h_right .nav_wrap .bottom li:nth-child(2) a {
  position: relative;
}

header .header_inner .h_right .nav_wrap .bottom li:nth-child(2) a::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top: 6px solid #df842c;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

header .header_inner .h_right .nav_wrap .bottom li:hover .big_menu {
  opacity: 1;
  visibility: visible;
}

header .header_inner .h_right .nav_wrap .bottom li a {
  font-size: 15px;
  color: #2c2c2c;
  font-weight: 500;
}

header .header_inner .h_right .nav_wrap .bottom li a:hover {
  color: #6a4c29;
}

@media only screen and (max-width: 1100px) {
  header .header_inner .h_right .nav_wrap .bottom li a {
    font-size: 12px;
  }
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu {
  position: absolute;
  bottom: -256px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 88%;
  background-color: #dd7e22;
  transition: .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1065px) {
  header .header_inner .h_right .nav_wrap .bottom li .big_menu {
    bottom: -334px;
  }
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu::before {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: -40px;
  left: 0;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row {
  padding: 33px;
  justify-content: space-between;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(1) {
  width: 300px;
  border-right: 1px solid #e3ab76;
  padding-top: 35px;
}

@media only screen and (max-width: 1180px) {
  header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(1) {
    width: 200px;
  }
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(1) h4 {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  letter-spacing: .1em;
  text-align: center;
  margin-bottom: 10px;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(1) p {
  font-weight: 700;
  letter-spacing: .2em;
  color: #fff;
  text-align: center;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) {
  width: calc(100% - 600px);
  padding-left: 75px;
  padding-top: 30px;
}

@media only screen and (max-width: 1225px) {
  header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 1180px) {
  header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) {
    width: calc(100% - 500px);
  }
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul {
  max-width: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li {
  width: 50%;
  margin-right: 0;
}

@media only screen and (max-width: 1065px) {
  header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li {
    width: 100%;
  }
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li:not(:last-child) {
  margin-bottom: 27px;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li a {
  font-size: 15px;
  color: #fff;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li a:hover {
  opacity: .7;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(3) {
  width: 300px;
}

/* footer
==================================*/
footer {
  padding-top: 70px;
  padding-bottom: 55px;
}

footer .footer_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer_inner .logo {
  width: 143px;
  padding-left: 44px;
  padding-top: 10px;
}

@media only screen and (max-width: 1080px) {
  footer .footer_inner .logo {
    padding-left: 0;
    width: 99px;
  }
}

footer .footer_inner .f_nav {
  width: calc(100% - 143px);
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1080px) {
  footer .footer_inner .f_nav {
    width: calc(100% - 99px);
  }
}

footer .footer_inner .f_nav .n_left {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1080px) {
  footer .footer_inner .f_nav .n_left {
    width: 400px;
  }
}

footer .footer_inner .f_nav .n_left li:first-child {
  width: 25%;
}

@media only screen and (max-width: 1080px) {
  footer .footer_inner .f_nav .n_left li:first-child {
    width: 20%;
  }
}

footer .footer_inner .f_nav .n_left li:last-child {
  width: 75%;
  position: relative;
}

@media only screen and (max-width: 1080px) {
  footer .footer_inner .f_nav .n_left li:last-child {
    width: 80%;
  }
}

footer .footer_inner .f_nav .n_left li:last-child .sub_menu {
  width: 62%;
  position: absolute;
  top: 0;
  right: 0;
}

footer .footer_inner .f_nav .n_left li:last-child .sub_menu li:first-child {
  width: unset;
}

footer .footer_inner .f_nav .n_left li:last-child .sub_menu li:not(:last-child) {
  margin-bottom: 8px;
}

footer .footer_inner .f_nav .n_right {
  max-width: 354px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1080px) {
  footer .footer_inner .f_nav .n_right {
    max-width: 300px;
  }
}

footer .footer_inner .f_nav .n_right li {
  width: 50%;
  margin-bottom: 8px;
}

footer .footer_inner .f_nav a {
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

footer .footer_inner .f_nav a:hover::after {
  width: 100%;
}

footer .footer_inner .f_nav a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #444444;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: .3s ease-in-out;
}

footer .footer_inner .copy {
  width: 100%;
  margin-top: 10px;
}

footer .footer_inner .copy small {
  font-size: 12px;
  font-weight: 500;
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
}

#pageTop.active {
  opacity: 1;
}

#pageTop a {
  display: block;
  width: 50px;
}

#pageTop a:hover {
  opacity: 0.7;
}

/* loader
==================================*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

/* Animation
==================================*/
.c-anim-up {
  transform: translate(0, 30px);
  opacity: 0;
  transition: 0.3s ease;
}

.move {
  transform: translate(0, 0);
  opacity: 1;
}

.delay1 {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
}

.delay2 {
  -moz-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
}

.delay3 {
  -moz-transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
}

.delay4 {
  -moz-transition-delay: 1200ms;
  -webkit-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
}

.delay5 {
  -moz-transition-delay: 1500ms;
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
}

.delay6 {
  -moz-transition-delay: 1800ms;
  -webkit-transition-delay: 1800ms;
  -o-transition-delay: 1800ms;
  -ms-transition-delay: 1800ms;
}

.delay7 {
  -moz-transition-delay: 2100ms;
  -webkit-transition-delay: 2100ms;
  -o-transition-delay: 2100ms;
  -ms-transition-delay: 2100ms;
}

/*==================================
  Component
==================================*/
html {
  overflow: auto;
}

html.no_move {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

img[src$=".png"], img[src$=".jpg"] {
  backface-visibility: hidden;
}

.container {
  position: relative;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.row .col.col_4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.btn_link:hover {
  background-color: #dd7e22;
  color: #fff;
  border: 1px solid #dd7e22;
}

.btn_link:hover .cls-1, .btn_link:hover .cls-2 {
  stroke: #fff;
}

.btn_link:hover .cls-2 {
  fill: #fff;
}

/*==================================
	リスト系
==================================*/
.news_ul {
  margin: 0 0 19px;
}

.news_ul .news_li {
  border-bottom: 1px solid #e8e8e8;
  padding: 22px 14px;
}

.news_ul .news_li > a {
  display: flex;
  align-items: center;
}

.news_ul .news_li > a .date {
  font-size: 16px;
  color: #919191;
  margin-right: 24px;
}

.news_ul .news_li > a .img_wrap {
  margin-right: 17px;
}

@media (min-width: 900px) {
  .news_ul .news_li > a .title {
    background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
    transition: background 0.4s ease;
  }
  .news_ul .news_li > a:hover .title {
    background-size: 100% 1px;
  }
}

@media (max-width: 899px) {
  .news_ul .news_li {
    padding: 14px 0;
  }
  .news_ul .news_li > a {
    display: block;
    position: relative;
    padding-left: 80px;
  }
  .news_ul .news_li > a .img_wrap {
    margin-right: 0;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .news_ul .news_li > a .img_wrap img {
    max-width: 57px;
  }
  .news_ul .news_li > a .date,
  .news_ul .news_li > a .title {
    display: block;
  }
  .news_ul .news_li > a .date {
    font-size: 14px;
    margin: 0 0 7px;
  }
  .news_ul .news_li > a .title {
    font-size: 16px;
    line-height: 1.3;
  }
}

/*==================================
	ページナビ
==================================*/
.page_navigation .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

@media (max-width: 899px) {
  .page_navigation .wp-pagenavi {
    margin: 30px 0 40px;
  }
}

.page_navigation .wp-pagenavi > .page,
.page_navigation .wp-pagenavi .current {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation .wp-pagenavi > .page:not(.current),
.page_navigation .wp-pagenavi .current:not(.current) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi > .page:not(.current):hover,
  .page_navigation .wp-pagenavi .current:not(.current):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation .wp-pagenavi > .page.current,
.page_navigation .wp-pagenavi .current.current {
  background-color: #000;
  color: #fff;
}

.page_navigation .wp-pagenavi .nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink {
  position: relative;
  font-weight: 500;
  box-sizing: border-box;
}

.page_navigation .wp-pagenavi .nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 9px;
  height: 14px;
  background-image: url(../images/common/pager_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink {
  padding-left: 33px;
  margin-right: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink::before {
  left: 0;
  transform: scale(-1, 1);
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.previouspostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.previouspostslink:hover::before {
    left: -5px;
  }
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink {
  padding-right: 33px;
  margin-left: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink::before {
  right: 0;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.nextpostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.nextpostslink:hover::before {
    right: -5px;
  }
}

.page_navigation .wp-pagenavi .list_back {
  margin-left: 58px;
  margin-right: 58px;
}

.page_navigation .wp-pagenavi .list_back > a {
  font-weight: 500;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon {
  display: inline-block;
  padding-left: 24px;
  position: relative;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-image: url(../img/news/list_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.page_navigation > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

.page_navigation > ul .link_page,
.page_navigation > ul .current_page {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation > ul .link_page:not(.current_page),
.page_navigation > ul .current_page:not(.current_page) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation > ul .link_page:not(.current_page):hover,
  .page_navigation > ul .current_page:not(.current_page):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation > ul .link_page.current_page,
.page_navigation > ul .current_page.current_page {
  background-color: #000;
  color: #fff;
}

/*==================================
	SECTION TEXT HEADER
==================================*/
.p_header {
  text-align: center;
  padding-bottom: 26px;
}

.p_header--title {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: .1em;
  margin-bottom: 9px;
}

@media (max-width: 899px) {
  .p_header--title {
    font-size: 35px;
    margin-bottom: 5px;
  }
}

.p_header--desc {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .2em;
}

@media (max-width: 899px) {
  .p_header--desc {
    font-size: 16px;
  }
}

/*==================================
  POST VIEW MORE
==================================*/
.post_viewmore {
  position: absolute;
  top: 0;
  right: 50px;
  width: 95.35px;
  height: 95.35px;
}

.post_viewmore::after {
  content: "";
  display: block;
  width: 81.43px;
  height: 81.43px;
  background-color: #a6845e;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
}

@media (max-width: 899px) {
  .post_viewmore {
    position: relative;
    top: unset;
    right: unset;
    margin: 33px auto 0;
  }
}

@media (min-width: 900px) {
  .post_viewmore:hover::after {
    width: 100%;
    height: 100%;
    background-color: #8e693f;
  }
}

.post_viewmore a {
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  text-align: center;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/*==================================
  LIST BUTTON
==================================*/
.list_btn {
  display: flex;
  flex-wrap: wrap;
}

.list_btn li {
  position: relative;
  width: 50%;
  text-align: center;
}

.list_btn li:first-child a {
  border-right: none;
}

@media (max-width: 899px) {
  .list_btn li:first-child a {
    border-right: 1px solid #c6c6c6;
    border-bottom: none;
  }
}

@media (max-width: 899px) {
  .list_btn li {
    width: 100%;
  }
}

.list_btn li a {
  border: 1px solid #c6c6c6;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: .08em;
  padding: 27px 0 30px;
}

@media (max-width: 899px) {
  .list_btn li a {
    padding: 17px 0 18px;
  }
}

.list_btn li a svg {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}

@media (max-width: 899px) {
  .list_btn li a svg {
    right: 14px;
    width: 15px;
  }
}

@media only screen and (max-width: 335px) {
  .list_btn li a svg {
    right: 5px;
  }
}

/*==========================================
  Layout
==========================================*/
/*==================================
  Top
==================================*/
#Top main .sect_1 {
  margin-top: 150px;
}

#Top main .sect_1 .wrapper {
  position: relative;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper {
  height: 680px;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper .swiper-slide.slide-img-1 {
  background-image: url(../images/top/sect_1/img_1.jpg);
  background-size: cover;
  background-position: center center;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper .swiper-slide.slide-img-2 {
  background-image: url(../images/top/sect_1/img_2.jpg);
  background-size: cover;
  background-position: center center;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper .swiper-slide.slide-img-3 {
  background-image: url(../images/top/sect_1/img_3.jpg);
  background-size: cover;
  background-position: center center;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper .swiper-slide.slide-img-4 {
  background-image: url(../images/top/sect_1/img_4.jpg);
  background-size: cover;
  background-position: center center;
}

#Top main .sect_1 .wrapper .container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  transform: translate(0, -50%);
}

#Top main .sect_1 .wrapper .container h2 {
  font-family: heisei-kaku-gothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  line-height: 92px;
  color: #fff;
}

#Top main .sect_1 .wrapper .container p {
  font-family: heisei-kaku-gothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23.11px;
  letter-spacing: .26em;
  color: #fff;
  text-indent: 7px;
  margin-top: 20px;
}

#Top main .sect_1 .wrapper .banner {
  width: 395px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 10;
}

#Top main .sect_1 .wrapper .banner .link:hover::before {
  opacity: 1;
}

#Top main .sect_1 .wrapper .banner .link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s ease-in-out;
}

#Top main .sect_1 .wrapper .banner .close {
  display: block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #23af41;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 12;
  cursor: pointer;
}

#Top main .sect_1 .wrapper .banner .close::after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translate(0, -50%) rotate(45deg);
}

#Top main .sect_1 .wrapper .banner .close::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translate(0, -50%) rotate(-45deg);
}

#Top main .sect_2 .wrapper {
  padding-top: 100px;
  padding-bottom: 120px;
}

#Top main .sect_2 .wrapper .container h3 {
  font-weight: 700;
  line-height: 62px;
  letter-spacing: .2em;
  font-size: 34px;
  text-align: center;
  margin-bottom: 65px;
}

#Top main .sect_2 .wrapper .container h3 p {
  font-size: 30px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: .2em;
}

#Top main .sect_2 .wrapper .container .post-wrap {
  min-height: 530px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row {
  width: 60%;
  margin-left: auto;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:first-child {
  width: 40%;
  float: left;
  padding: 30px 60px 30px 0;
  border-right: 1px solid #e5e5e5;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) {
  padding-left: 60px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post figure {
  width: 40%;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post .post_info {
  width: 60%;
  padding-left: 30px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post .post_info_title {
  padding: 0;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post .post_info_date {
  margin-top: 34px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 60px;
  margin-bottom: 60px;
  padding-top: 30px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row .post:hover figure::after {
  opacity: 1;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row figure {
  position: relative;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row figure::after {
  content: "VIEW MORE";
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 128, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s ease-in-out;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row .post_info_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding: 18px 0 0;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row .post_info_excerpt {
  font-size: 15px;
  line-height: 27px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row .post_info_date {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #c6c6c6;
  padding: 9px 17px 10px;
  font-weight: 700;
}

#Top main .sect_3 .wrapper {
  background-color: #b89671;
  padding-top: 112px;
  padding-bottom: 126px;
}

#Top main .sect_3 .wrapper .container .p_header {
  padding-bottom: 44px;
}

#Top main .sect_3 .wrapper .container .p_header .white {
  color: #fff;
}

#Top main .sect_3 .wrapper .container .post_wrap.row {
  justify-content: flex-start;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col {
  width: 23.42%;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col:not(:first-child) {
  margin-left: 2.08%;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post:hover figure::after {
  opacity: 1;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post_img {
  position: relative;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post_img::after {
  content: "VIEW MORE";
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 128, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s ease-in-out;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post_info--title {
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  padding: 24px 0 10px;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post_info--date {
  color: #fff;
  font-size: 13px;
}

#Top main .sect_4 {
  background-color: #b89671;
  position: relative;
  padding-bottom: 115px;
}

#Top main .sect_4 .wrapper {
  position: relative;
}

#Top main .sect_4 .wrapper::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

#Top main .sect_4 .wrapper .container {
  max-width: 1400px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  z-index: 2;
}

#Top main .sect_4 .wrapper .container .row .col:first-child {
  width: 34.29%;
}

#Top main .sect_4 .wrapper .container .row .col:last-child {
  background-color: #fff;
  width: 65.71%;
  padding: 101px 50px 115px 265px;
  border-bottom-left-radius: 150px;
}

@media only screen and (max-width: 1250px) {
  #Top main .sect_4 .wrapper .container .row .col:last-child {
    padding: 101px 50px 115px 200px;
  }
}

@media only screen and (max-width: 1030px) {
  #Top main .sect_4 .wrapper .container .row .col:last-child {
    padding: 101px 50px 115px 150px;
  }
}

#Top main .sect_4 .wrapper .container .row .col:last-child .txt_cont {
  max-width: 555px;
}

#Top main .sect_4 .wrapper .container .row .col:last-child .txt_cont h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 50.4px;
  text-align: center;
  letter-spacing: .2em;
}

@media only screen and (max-width: 1130px) {
  #Top main .sect_4 .wrapper .container .row .col:last-child .txt_cont h3 {
    font-size: 22px;
  }
}

#Top main .sect_4 .wrapper .container .row .col:last-child .txt_cont p {
  line-height: 38.4px;
  text-align: justify;
  letter-spacing: .05em;
  padding: 21px 10px 44px;
}

#Top main .sect_4 .wrapper .container .img_cont {
  max-width: 640px;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1400px) {
  #Top main .sect_4 .wrapper .container .img_cont {
    max-width: 45.71%;
  }
}

#Top main .sect_5 {
  background-color: #b89671;
  position: relative;
  padding-bottom: 40px;
  margin-top: -1px;
}

#Top main .sect_5 .wrapper::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

#Top main .sect_5 .wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 65%;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

#Top main .sect_5 .wrapper .container {
  max-width: 1400px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  z-index: 2;
}

#Top main .sect_5 .wrapper .container .row .col:first-child {
  background-color: #fff;
  width: 65.71%;
  padding: 101px 220px 115px 120px;
  border-top-right-radius: 150px;
}

@media only screen and (max-width: 1200px) {
  #Top main .sect_5 .wrapper .container .row .col:first-child {
    padding: 101px 200px 115px 50px;
  }
}

#Top main .sect_5 .wrapper .container .row .col:first-child .txt_cont h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  text-align: left;
  letter-spacing: .2em;
  margin-bottom: 34px;
}

#Top main .sect_5 .wrapper .container .row .col:first-child .txt_cont h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 43.2px;
  text-align: left;
  letter-spacing: .2em;
}

@media only screen and (max-width: 1100px) {
  #Top main .sect_5 .wrapper .container .row .col:first-child .txt_cont h4 {
    font-size: 18px;
  }
}

#Top main .sect_5 .wrapper .container .row .col:first-child .txt_cont p {
  line-height: 38.4px;
  text-align: justify;
  letter-spacing: .05em;
  padding: 18px 0 40px;
}

#Top main .sect_5 .wrapper .container .row .col:first-child .txt_cont .list_btn {
  border: none;
  max-width: 350px;
}

#Top main .sect_5 .wrapper .container .row .col:first-child .txt_cont .list_btn li {
  width: 100%;
  border-right: 1px solid #c6c6c6;
}

#Top main .sect_5 .wrapper .container .row .col:first-child .txt_cont .list_btn li a {
  padding: 16px 0 19px;
}

#Top main .sect_5 .wrapper .container .row .col:last-child {
  width: 34.29%;
}

#Top main .sect_5 .wrapper .container .img_cont {
  max-width: 565px;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 1400px) {
  #Top main .sect_5 .wrapper .container .img_cont {
    max-width: 45.71%;
  }
}

#Top main .sect_5 .wrapper .container .img_cont .row {
  align-items: center;
  justify-content: space-between;
}

#Top main .sect_5 .wrapper .container .img_cont .row .col:nth-child(1) {
  width: 30.8%;
  padding: 0;
  background-color: transparent;
}

#Top main .sect_5 .wrapper .container .img_cont .row .col:nth-child(2) {
  width: 35.4%;
  position: relative;
  bottom: -80px;
}

#Top main .sect_5 .wrapper .container .img_cont .row .col:nth-child(3) {
  width: 30.09%;
  position: relative;
  top: -16px;
}

#Top main .sect_6 .wrapper {
  background-image: url(/images/top/sect_6/bg_img.jpg);
  background-size: cover;
  background-position: 0;
  padding-bottom: 55px;
  padding-top: 45px;
}

#Top main .sect_6 .wrapper .container {
  max-width: 1180px;
}

#Top main .sect_6 .wrapper .container a {
  position: relative;
  display: block;
}

#Top main .sect_6 .wrapper .container a:hover .img_1_hover {
  opacity: 1;
}

#Top main .sect_6 .wrapper .container a:hover .img_1 {
  opacity: 0;
}

#Top main .sect_6 .wrapper .container a .img_1 {
  transition: .5s ease-in-out;
  position: relative;
  z-index: 2;
  opacity: 1;
}

#Top main .sect_6 .wrapper .container a .img_1_hover {
  transition: .5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}

#Top main .sect_7 .wrapper {
  background-color: #fff;
  padding-top: 112px;
  padding-bottom: 110px;
}

#Top main .sect_7 .wrapper .container .p_header {
  padding-bottom: 45px;
}

#Top main .sect_7 .wrapper .container .p_header .teak {
  color: #b89671;
}

#Top main .sect_7 .wrapper .container .post_wrap.row {
  justify-content: flex-start;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col {
  width: 30%;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col:not(:first-child) {
  margin-left: 5%;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post:hover figure::after {
  opacity: 1;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post_img {
  position: relative;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post_img::after {
  content: "VIEW MORE";
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 128, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s ease-in-out;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post_info--title {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  padding: 15px 0 4px;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post_info--excerpt {
  line-height: 28.8px;
}

#Top main .sect_7 .wrapper .container .list_btn {
  max-width: 960px;
  margin: 124px auto 0;
}

#Top main .sect_7 .wrapper .container .list_btn li a {
  padding: 36px 0 38px;
}

#Top main .sect_8 {
  background-color: #b89671;
  padding-top: 105px;
}

#Top main .sect_8 .wrapper {
  position: relative;
}

#Top main .sect_8 .wrapper::after {
  content: "";
  display: block;
  width: 40%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-top-left-radius: 150px;
}

#Top main .sect_8 .wrapper .container {
  position: relative;
  z-index: 2;
}

#Top main .sect_8 .wrapper .container .row .col:first-child {
  width: 48%;
  padding-right: 110px;
}

@media only screen and (max-width: 1010px) {
  #Top main .sect_8 .wrapper .container .row .col:first-child {
    padding-right: 70px;
  }
}

#Top main .sect_8 .wrapper .container .row .col:first-child p {
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: .2em;
  color: #fff;
  text-align: center;
  padding: 23px 0 30px 30px;
}

@media only screen and (max-width: 1270px) {
  #Top main .sect_8 .wrapper .container .row .col:first-child p {
    padding: 23px 0 30px 0;
    letter-spacing: .15em;
  }
}

@media only screen and (max-width: 1170px) {
  #Top main .sect_8 .wrapper .container .row .col:first-child p {
    font-size: 1.7vw;
  }
}

#Top main .sect_8 .wrapper .container .row .col:first-child a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  height: 80px;
  margin: 0 40px 0 auto;
  background-color: #8e693f;
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: .08em;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 1270px) {
  #Top main .sect_8 .wrapper .container .row .col:first-child a {
    margin: 0 auto 0 auto;
  }
}

#Top main .sect_8 .wrapper .container .row .col:first-child a:hover {
  background-color: #6a4c29;
}

#Top main .sect_8 .wrapper .container .row .col:first-child a svg {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
}

#Top main .sect_8 .wrapper .container .row .col:first-child a svg .cls-1, #Top main .sect_8 .wrapper .container .row .col:first-child a svg .cls-2 {
  stroke: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:first-child a svg .cls-2 {
  fill: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:last-child {
  width: 52%;
  padding-top: 76px;
  padding-bottom: 75px;
  padding-left: 100px;
  background-color: #fff;
  border-top-left-radius: 150px;
}

@media only screen and (max-width: 1010px) {
  #Top main .sect_8 .wrapper .container .row .col:last-child {
    padding-left: 50px;
  }
}

#Top main .sect_8 .wrapper .container .row .col:last-child h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: .2em;
  text-align: center;
  margin-bottom: 27px;
}

@media only screen and (max-width: 1070px) {
  #Top main .sect_8 .wrapper .container .row .col:last-child h3 {
    font-size: 2.1vw;
  }
}

#Top main .sect_8 .wrapper .container .row .col:last-child .tel {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 22.34px;
  letter-spacing: .05em;
  color: #2c2c2c;
  text-align: center;
  display: block;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .tel img {
  width: 20px;
  margin-right: 9px;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 380px;
  height: 80px;
  margin: 35px auto;
  background-color: #dd7e22;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .08em;
  line-height: 44px;
  color: #fff;
  transition: .3s ease-in-out;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry:hover {
  background-color: #6a4c29;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry img {
  width: 19px;
  margin-right: 10px;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry svg {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry svg .cls-1, #Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry svg .cls-2 {
  stroke: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry svg .cls-2 {
  fill: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:last-child h4 {
  font-weight: 700;
  line-height: 35px;
  text-align: center;
}

#Top main .sect_8 .wrapper .container .row .col:last-child p {
  text-align: center;
  line-height: 32px;
}

@media only screen and (max-width: 1010px) {
  #Top main .sect_8 .wrapper .container .row .col:last-child p {
    font-size: 14px;
  }
}

#Top main .sect_8 .wrapper .border_btm {
  width: 51%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

@media only screen and (max-width: 1600px) {
  #Top main .sect_8 .wrapper .border_btm {
    width: 52%;
  }
}

/*==================================
  Contact_reset
==================================*/
main#Contact {
  /*------ Reset CSS ------*/
  /*------ Reset END ------*/
}

main#Contact input {
  -webkit-appearance: none;
}

main#Contact input[type='text'] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

main#Contact input[type='radio'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='radio']:checked + label {
  background: #ff0000;
}

main#Contact input[type='checkbox'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='checkbox']:checked + label {
  background: #ff0000;
}

main#Contact input::placeholder {
  color: #b7b7b7;
}

main#Contact input:-ms-input-placeholder {
  color: #b7b7b7;
}

main#Contact input::-webkit-input-placeholder {
  color: #b7b7b7;
}

main#Contact button,
main#Contact input[type='button'],
main#Contact input[type='submit'] {
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

main#Contact textarea {
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 0;
}

main#Contact select {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}

/*==================================
  Contact_base
==================================*/
/* input, textarea
--------------------------------*/
/* radio_button
--------------------------------*/
main#Contact {
  /*------ Form Base ------*/
  /*------ Form Base END ------*/
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

main#Contact span.error {
  color: #cc0303;
  display: block;
  margin: 7px 0 0;
}

main#Contact input:-webkit-autofill {
  animation-name: onAutoFillStart;
  background: white !important;
  transition: background-color 50000s ease-in-out 0s;
}

main#Contact input[type="text"]:focus,
main#Contact input[type="email"]:focus,
main#Contact input[type="tel"]:focus,
main#Contact input[type="search"]:focus,
main#Contact input[type="url"]:focus,
main#Contact textarea:focus {
  color: #000;
  background-color: #dddddd;
}

main#Contact .ERR {
  color: #cc0303;
}

main#Contact input[type="text"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 12px 21px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  color: #000;
  width: 100%;
}

main#Contact input[type="text"].zip {
  max-width: 247px;
  width: 100%;
}

main#Contact .zip-wrap {
  background: #dddddd;
  display: inline-block;
  position: relative;
  max-width: 247px;
  width: 100%;
  margin-right: 3px;
}

main#Contact .zip-wrap::before {
  content: "〒";
  font-size: 18px;
  position: absolute;
  top: 0.8em;
  left: 24px;
  margin: auto;
}

main#Contact .zip-wrap input {
  padding: 12px 21px 12px 55px;
  width: 100%;
}

main#Contact input[type="button"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #000;
  max-width: 140px;
  width: 100%;
  background: #dddddd;
  border: 3px solid #dddddd;
  padding: 10px 19px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
}

main#Contact input[type="button"]:hover {
  background: none;
}

main#Contact input[type="checkbox"] + label {
  padding-left: 29px;
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

main#Contact input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
}

main#Contact input[type="checkbox"] + label::after {
  content: "";
  opacity: 0;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  display: block;
  height: 9px;
  left: 7px;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

main#Contact input[type="checkbox"]:checked + label {
  background: none;
}

main#Contact input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

main#Contact input[type="radio"] + label {
  padding-left: 27px;
  position: relative;
  margin-right: 27px;
  cursor: pointer;
}

main#Contact input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  border-radius: 50%;
}

main#Contact input[type="radio"] + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #000;
  border-radius: 50%;
  opacity: 0;
}

main#Contact input[type="radio"]:checked + label {
  background: none;
}

main#Contact input[type="radio"]:checked + label::after {
  opacity: 1;
}

main#Contact .select-box {
  overflow: hidden;
  width: 60%;
  text-align: center;
  position: relative;
  border-radius: 2px;
  background: #dddddd;
}

main#Contact .select-box select {
  font-size: 16px;
  color: #000;
  letter-spacing: 0.035em;
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  appearance: none;
  padding: 12px 38px 12px 21px;
}

main#Contact .select-box select::-ms-expand {
  display: none;
}

main#Contact .select-box::before {
  position: absolute;
  top: 1.25em;
  right: 21px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  pointer-events: none;
}

main#Contact textarea {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 21px;
  min-height: 174px;
}

main#Contact .overscroll {
  overflow-y: scroll;
  height: 237px;
  padding: 25px 21px;
  background: #dddddd;
}

main#Contact .overscroll ul > li {
  margin-bottom: 25px;
}

main#Contact .overscroll ul > li strong {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

main#Contact .overscroll ul > li p {
  font-size: 14px;
  line-height: 1.42;
}

main#Contact .overscroll ul > li > ol {
  margin-top: 5px;
}

main#Contact .overscroll ul > li > ol li {
  text-indent: -1.25em;
  padding-left: 1.25em;
}

main#Contact .overscroll ul > li:first-child strong {
  margin-bottom: 20px;
}

main#Contact .overscroll ul > li:last-child {
  margin-bottom: 0;
}

main#Contact .submit_area {
  margin-top: 85px;
  text-align: center;
}

main#Contact .submit_area span {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
}

main#Contact .submit_area span input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area span:hover {
  background: none;
}

main#Contact .submit_area span:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku {
  max-width: 590px;
  margin: 20px auto 0;
}

main#Contact .submit_area ul.koumoku li {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #5f4b08;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #5f4b08;
  transition: all 0.3s ease;
}

main#Contact .submit_area ul.koumoku li input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area ul.koumoku li:hover {
  background: none;
}

main#Contact .submit_area ul.koumoku li:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku li:hover svg path {
  fill: #000;
}

main#Contact .btn_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .btn_back input {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .contact_back a {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back a:hover {
  color: #000;
  background: none;
}

/*==================================
  Contact
==================================*/
main#Contact .container {
  margin: auto;
}

main#Contact .container p > a {
  background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
  padding-bottom: 2px;
  display: inline;
}

main#Contact .container p > a:hover {
  color: #704f00;
  background: linear-gradient(#704f00, #704f00) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
}

main#Contact .agree_area {
  margin: 30px 0 0;
  text-align: center;
}

main#Contact .need {
  color: #cc0303;
}

main#Contact table {
  display: block;
}

main#Contact table tbody {
  display: block;
}

main#Contact table tr {
  display: block;
  margin-bottom: 30px;
}

main#Contact table tr th {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: block;
  text-align: left;
  margin-bottom: 13px;
}

main#Contact table tr td {
  display: block;
}

main#Contact table tr td .text02 {
  margin-top: 8px;
}

main#Contact .check-list {
  padding-top: 5px;
  padding-left: 0;
}

main#Contact .check-list li {
  display: inline-block;
}

main#Contact .form_wrap > p {
  margin-top: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */