@charset "UTF-8";
/*==========================================
  Common
==========================================*/
/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #444444;
  font-family: YakuHanJP_Noto, "Noto Sans JP", san-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.pc {
  display: none !important;
}

a {
  color: #444444;
  text-decoration: none;
}

a:visited {
  color: #444444;
}

a:active {
  color: #444444;
}

/* main
==================================*/
main {
  display: block;
  /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 57px;
  transition: .3s ease-in-out;
}

header.scroll {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

header.active .header_inner .h_right {
  transform: translateX(0);
}

header.active .header_inner .h_right .nav_wrap .top li {
  transform: translateX(0);
  opacity: 1;
}

header.active .header_inner .h_right .nav_wrap .bottom li {
  transform: translateX(0);
  opacity: 1;
}

header .header_inner {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 13px;
  transition: .3s ease-in-out;
}

header .header_inner .h_left {
  width: 150px;
}

header .header_inner .h_right {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 999;
  background-color: #fff;
  padding-bottom: 100px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transition: .3s ease-in-out;
  transform: translateX(-100%);
}

header .header_inner .h_right .nav_wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 12px 20px 0;
}

header .header_inner .h_right .nav_wrap .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  order: 2;
}

header .header_inner .h_right .nav_wrap .top li {
  transition: .3s ease-in-out;
  transition-delay: .3s;
  transform: translateX(-50px);
  opacity: 0;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(3) {
  order: 1;
  margin-bottom: 22px;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(3) p {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: .2em;
  text-align: center;
  line-height: 25.5px;
  padding: 35px 0 14px;
}

@media only screen and (max-width: 330px) {
  header .header_inner .h_right .nav_wrap .top li:nth-child(3) p {
    font-size: 15px;
  }
}

header .header_inner .h_right .nav_wrap .top li:nth-child(3) a {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: .05em;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(3) a img {
  width: 20px;
  margin-right: 7.5px;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(2) {
  order: 3;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(2) a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8e693f;
  height: 70px;
  width: 100%;
  position: relative;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  letter-spacing: .08em;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(2) a svg {
  width: 15px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

header .header_inner .h_right .nav_wrap .top li:nth-child(2) a svg .cls-2 {
  fill: #fff;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(2) a svg .cls-1, header .header_inner .h_right .nav_wrap .top li:nth-child(2) a svg .cls-2 {
  stroke: #fff;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(1) {
  order: 2;
  margin-bottom: 17.5px;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(1) a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dd7e22;
  height: 70px;
  width: 100%;
  position: relative;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  letter-spacing: .08em;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(1) a svg {
  width: 15px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

header .header_inner .h_right .nav_wrap .top li:nth-child(1) a svg .cls-2 {
  fill: #fff;
}

header .header_inner .h_right .nav_wrap .top li:nth-child(1) a svg .cls-1, header .header_inner .h_right .nav_wrap .top li:nth-child(1) a svg .cls-2 {
  stroke: #fff;
}

header .header_inner .h_right .nav_wrap .top li a {
  display: flex;
  font-weight: 700;
  color: #2c2c2c;
}

header .header_inner .h_right .nav_wrap .top li a img {
  width: 19px;
  margin-right: 10px;
}

header .header_inner .h_right .nav_wrap .bottom {
  width: 100%;
  display: block;
  order: 1;
}

header .header_inner .h_right .nav_wrap .bottom li {
  border-bottom: 1px solid #e5e5e5;
  padding: 11px 12px 12px;
  transition: .3s ease-in-out;
  transition-delay: .3s;
  transform: translateX(-50px);
  opacity: 0;
}

header .header_inner .h_right .nav_wrap .bottom li:first-child {
  border-top: 1px solid #e5e5e5;
}

header .header_inner .h_right .nav_wrap .bottom li:nth-child(2) {
  padding: 11px 0 12px;
}

header .header_inner .h_right .nav_wrap .bottom li:nth-child(2) a {
  padding-left: 12px;
}

header .header_inner .h_right .nav_wrap .bottom li a {
  font-size: 17px;
  color: #2c2c2c;
  font-weight: 500;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu {
  display: block;
  border-top: 1px solid #e5e5e5;
  margin-top: 12px;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(1) {
  display: none;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul {
  display: block;
  padding: 18px 35px 15px;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li {
  padding: 0;
  border: none;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li:not(:last-child) {
  margin-bottom: 20px;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li a {
  font-size: 17px;
  position: relative;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(2) ul li a::after {
  content: "-";
  color: #dd7e22;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: -4px;
}

header .header_inner .h_right .nav_wrap .bottom li .big_menu .row .col:nth-child(3) {
  display: none;
}

header .header_inner .menu {
  position: relative;
  width: 30px;
  cursor: pointer;
  transition: .3s ease;
  padding-bottom: 5px;
}

header .header_inner .menu span {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  display: inline-block;
  background: #000;
  width: 30px;
  height: 2px;
  margin: auto;
  transition: 0.3s;
}

header .header_inner .menu span.line-t.show {
  top: 10px;
  transform: rotate(35deg);
}

header .header_inner .menu span.line-m {
  top: 10px;
}

header .header_inner .menu span.line-m.show {
  opacity: 0;
}

header .header_inner .menu span.line-b {
  top: 19px;
}

header .header_inner .menu span.line-b.show {
  top: 10px;
  transform: rotate(-35deg);
}

header .header_inner .menu p {
  padding: 20px 0 0;
  font-size: 10px;
  text-align: center;
  transition: .3s ease;
}

header .float_btm_menu {
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 800;
  background-color: #dd7e22;
  opacity: 0;
  transition: 0.3s;
}

header .float_btm_menu.active {
  opacity: 1;
}

header .float_btm_menu .row {
  height: 100%;
  padding: 2.5px 0;
}

header .float_btm_menu .row .col {
  width: calc(100% / 3);
}

header .float_btm_menu .row .col:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

header .float_btm_menu .row .col:nth-child(2) a img {
  width: 18px;
}

header .float_btm_menu .row .col:nth-child(3) a img {
  width: 13.5px;
}

header .float_btm_menu .row .col a {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

header .float_btm_menu .row .col a img {
  width: 17px;
  margin-bottom: 9px;
}

/* footer
==================================*/
footer {
  padding-top: 33px;
  padding-bottom: 105px;
}

footer .footer_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer_inner .logo {
  width: 80px;
  margin: 0 auto 22px;
}

footer .footer_inner .f_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .footer_inner .f_nav .n_left {
  width: 55%;
  display: block;
}

footer .footer_inner .f_nav .n_left li:first-child {
  width: 100%;
}

footer .footer_inner .f_nav .n_left li:last-child {
  width: 100%;
  position: relative;
}

footer .footer_inner .f_nav .n_left li:last-child .sub_menu {
  width: 100%;
  margin-top: 10px;
}

footer .footer_inner .f_nav .n_left li:last-child .sub_menu li {
  text-indent: -10px;
  margin-left: 10px;
  padding-left: 10px;
}

footer .footer_inner .f_nav .n_right {
  width: 45%;
  display: block;
}

footer .footer_inner .f_nav .n_right li {
  width: 100%;
}

footer .footer_inner .f_nav li {
  margin-bottom: 10px;
}

footer .footer_inner .f_nav a {
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

@media only screen and (max-width: 365px) {
  footer .footer_inner .f_nav a {
    font-size: 12px;
  }
}

footer .footer_inner .copy {
  width: 100%;
  text-align: center;
  margin-top: 22px;
}

footer .footer_inner .copy small {
  font-size: 12px;
  font-weight: 500;
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
}

#pageTop.active {
  opacity: 1;
}

#pageTop a {
  display: block;
  width: 50px;
}

/* loader
==================================*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

/* Animation
==================================*/
.c-anim-up {
  transform: translate(0, 30px);
  opacity: 0;
  transition: 0.3s ease;
}

.move {
  transform: translate(0, 0);
  opacity: 1;
}

.delay1 {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
}

.delay2 {
  -moz-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
}

.delay3 {
  -moz-transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
}

.delay4 {
  -moz-transition-delay: 1200ms;
  -webkit-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
}

.delay5 {
  -moz-transition-delay: 1500ms;
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
}

.delay6 {
  -moz-transition-delay: 1800ms;
  -webkit-transition-delay: 1800ms;
  -o-transition-delay: 1800ms;
  -ms-transition-delay: 1800ms;
}

.delay7 {
  -moz-transition-delay: 2100ms;
  -webkit-transition-delay: 2100ms;
  -o-transition-delay: 2100ms;
  -ms-transition-delay: 2100ms;
}

/*==================================
  Component
==================================*/
html {
  overflow: auto;
}

html.no_move {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

img[src$=".png"], img[src$=".jpg"] {
  backface-visibility: hidden;
}

.container {
  position: relative;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.row .col.col_4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.btn_link:hover {
  background-color: #dd7e22;
  color: #fff;
  border: 1px solid #dd7e22;
}

.btn_link:hover .cls-1, .btn_link:hover .cls-2 {
  stroke: #fff;
}

.btn_link:hover .cls-2 {
  fill: #fff;
}

/*==================================
	リスト系
==================================*/
.news_ul {
  margin: 0 0 19px;
}

.news_ul .news_li {
  border-bottom: 1px solid #e8e8e8;
  padding: 22px 14px;
}

.news_ul .news_li > a {
  display: flex;
  align-items: center;
}

.news_ul .news_li > a .date {
  font-size: 16px;
  color: #919191;
  margin-right: 24px;
}

.news_ul .news_li > a .img_wrap {
  margin-right: 17px;
}

@media (min-width: 900px) {
  .news_ul .news_li > a .title {
    background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
    transition: background 0.4s ease;
  }
  .news_ul .news_li > a:hover .title {
    background-size: 100% 1px;
  }
}

@media (max-width: 899px) {
  .news_ul .news_li {
    padding: 14px 0;
  }
  .news_ul .news_li > a {
    display: block;
    position: relative;
    padding-left: 80px;
  }
  .news_ul .news_li > a .img_wrap {
    margin-right: 0;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .news_ul .news_li > a .img_wrap img {
    max-width: 57px;
  }
  .news_ul .news_li > a .date,
  .news_ul .news_li > a .title {
    display: block;
  }
  .news_ul .news_li > a .date {
    font-size: 14px;
    margin: 0 0 7px;
  }
  .news_ul .news_li > a .title {
    font-size: 16px;
    line-height: 1.3;
  }
}

/*==================================
	ページナビ
==================================*/
.page_navigation .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

@media (max-width: 899px) {
  .page_navigation .wp-pagenavi {
    margin: 30px 0 40px;
  }
}

.page_navigation .wp-pagenavi > .page,
.page_navigation .wp-pagenavi .current {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation .wp-pagenavi > .page:not(.current),
.page_navigation .wp-pagenavi .current:not(.current) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi > .page:not(.current):hover,
  .page_navigation .wp-pagenavi .current:not(.current):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation .wp-pagenavi > .page.current,
.page_navigation .wp-pagenavi .current.current {
  background-color: #000;
  color: #fff;
}

.page_navigation .wp-pagenavi .nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink {
  position: relative;
  font-weight: 500;
  box-sizing: border-box;
}

.page_navigation .wp-pagenavi .nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 9px;
  height: 14px;
  background-image: url(../images/common/pager_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink {
  padding-left: 33px;
  margin-right: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink::before {
  left: 0;
  transform: scale(-1, 1);
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.previouspostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.previouspostslink:hover::before {
    left: -5px;
  }
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink {
  padding-right: 33px;
  margin-left: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink::before {
  right: 0;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.nextpostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.nextpostslink:hover::before {
    right: -5px;
  }
}

.page_navigation .wp-pagenavi .list_back {
  margin-left: 58px;
  margin-right: 58px;
}

.page_navigation .wp-pagenavi .list_back > a {
  font-weight: 500;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon {
  display: inline-block;
  padding-left: 24px;
  position: relative;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-image: url(../img/news/list_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.page_navigation > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

.page_navigation > ul .link_page,
.page_navigation > ul .current_page {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation > ul .link_page:not(.current_page),
.page_navigation > ul .current_page:not(.current_page) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation > ul .link_page:not(.current_page):hover,
  .page_navigation > ul .current_page:not(.current_page):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation > ul .link_page.current_page,
.page_navigation > ul .current_page.current_page {
  background-color: #000;
  color: #fff;
}

/*==================================
	SECTION TEXT HEADER
==================================*/
.p_header {
  text-align: center;
  padding-bottom: 26px;
}

.p_header--title {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: .1em;
  margin-bottom: 9px;
}

@media (max-width: 899px) {
  .p_header--title {
    font-size: 35px;
    margin-bottom: 5px;
  }
}

.p_header--desc {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .2em;
}

@media (max-width: 899px) {
  .p_header--desc {
    font-size: 16px;
  }
}

/*==================================
  POST VIEW MORE
==================================*/
.post_viewmore {
  position: absolute;
  top: 0;
  right: 50px;
  width: 95.35px;
  height: 95.35px;
}

.post_viewmore::after {
  content: "";
  display: block;
  width: 81.43px;
  height: 81.43px;
  background-color: #a6845e;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
}

@media (max-width: 899px) {
  .post_viewmore {
    position: relative;
    top: unset;
    right: unset;
    margin: 33px auto 0;
  }
}

@media (min-width: 900px) {
  .post_viewmore:hover::after {
    width: 100%;
    height: 100%;
    background-color: #8e693f;
  }
}

.post_viewmore a {
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  text-align: center;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/*==================================
  LIST BUTTON
==================================*/
.list_btn {
  display: flex;
  flex-wrap: wrap;
}

.list_btn li {
  position: relative;
  width: 50%;
  text-align: center;
}

.list_btn li:first-child a {
  border-right: none;
}

@media (max-width: 899px) {
  .list_btn li:first-child a {
    border-right: 1px solid #c6c6c6;
    border-bottom: none;
  }
}

@media (max-width: 899px) {
  .list_btn li {
    width: 100%;
  }
}

.list_btn li a {
  border: 1px solid #c6c6c6;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: .08em;
  padding: 27px 0 30px;
}

@media (max-width: 899px) {
  .list_btn li a {
    padding: 17px 0 18px;
  }
}

.list_btn li a svg {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}

@media (max-width: 899px) {
  .list_btn li a svg {
    right: 14px;
    width: 15px;
  }
}

@media only screen and (max-width: 335px) {
  .list_btn li a svg {
    right: 5px;
  }
}

/*==========================================
  Layout
==========================================*/
/*==================================
  Top
==================================*/
#Top main .sect_1 .wrapper {
  margin-top: 57px;
  position: relative;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper {
  height: 275px;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper .swiper-slide.slide-img-1 {
  background-image: url(../images/top/sect_1/img_1.jpg);
  background-size: cover;
  background-position: center center;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper .swiper-slide.slide-img-2 {
  background-image: url(../images/top/sect_1/img_2.jpg);
  background-size: cover;
  background-position: center center;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper .swiper-slide.slide-img-3 {
  background-image: url(../images/top/sect_1/img_3.jpg);
  background-size: cover;
  background-position: center center;
}

#Top main .sect_1 .wrapper .swiper .swiper-wrapper .swiper-slide.slide-img-4 {
  background-image: url(../images/top/sect_1/img_4.jpg);
  background-size: cover;
  background-position: center center;
}

#Top main .sect_1 .wrapper .container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  transform: translate(0, -50%);
}

#Top main .sect_1 .wrapper .container h2 {
  padding-left: 10px;
}

#Top main .sect_1 .wrapper .container h2 img {
  width: 157px;
}

#Top main .sect_2 .wrapper {
  padding-top: 31px;
  padding-bottom: 60px;
}

#Top main .sect_2 .wrapper .container h3 {
  font-weight: 700;
  line-height: 32px;
  letter-spacing: .2em;
  font-size: 20px;
  text-align: center;
  margin-bottom: 39px;
}

#Top main .sect_2 .wrapper .container h3 p {
  font-size: 15px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: .2em;
  margin-bottom: 4px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row {
  position: relative;
  width: 100%;
  margin-left: auto;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:first-child {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) {
  padding-bottom: 90px;
  margin-bottom: 30px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post {
  display: flex;
  flex-wrap: wrap;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post figure {
  width: 38.81%;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post .post_info {
  width: 61.19%;
  padding-left: 25px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post .post_info_title {
  padding: 0;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:not(:first-child) .post .post_info_date {
  margin-top: 34px;
  position: absolute;
  bottom: 30px;
  left: 0;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row:last-child {
  padding-bottom: 90px;
  margin-bottom: 0;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row .post_info_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding: 18px 0 0;
  margin-bottom: 7px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row .post_info_excerpt {
  font-size: 15px;
  line-height: 27px;
}

#Top main .sect_2 .wrapper .container .post-wrap .post_row .post_info_date {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 14px;
  border: 1px solid #c6c6c6;
  padding: 9px 17px 10px;
  font-weight: 700;
  line-height: 20px;
}

#Top main .sect_2 .wrapper .container .post_viewmore {
  margin: 0 auto;
}

#Top main .sect_3 .wrapper {
  background-color: #b89671;
  padding-top: 56px;
  padding-bottom: 50px;
}

#Top main .sect_3 .wrapper .container .p_header .white {
  color: #fff;
}

#Top main .sect_3 .wrapper .container .post_wrap.row {
  justify-content: flex-start;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col {
  width: 100%;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col:not(:last-child) {
  margin-bottom: 25px;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post_img {
  width: 146px;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post_info {
  width: calc(100% - 146px);
  padding-left: 20px;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post_info--title {
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  padding: 0 0 10px;
}

#Top main .sect_3 .wrapper .container .post_wrap.row .col .post_info--date {
  color: #fff;
  font-size: 13px;
}

#Top main .sect_4 {
  background-color: #b89671;
  position: relative;
  padding-bottom: 35px;
}

#Top main .sect_4 .wrapper .row .col:first-child {
  width: 100%;
  padding-right: 55px;
  background-color: #fff;
}

#Top main .sect_4 .wrapper .row .col:last-child {
  background-color: #fff;
  width: 93%;
  margin-left: auto;
  padding: 36px 25px 70px 32px;
  border-bottom-left-radius: 75px;
}

#Top main .sect_4 .wrapper .row .col:last-child .txt_cont h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: .2em;
}

@media only screen and (max-width: 360px) {
  #Top main .sect_4 .wrapper .row .col:last-child .txt_cont h3 {
    font-size: 5.4vw;
  }
}

#Top main .sect_4 .wrapper .row .col:last-child .txt_cont p {
  line-height: 28.8px;
  text-align: justify;
  padding: 16px 3px 34px;
}

#Top main .sect_5 {
  background-color: #b89671;
  position: relative;
}

#Top main .sect_5 .wrapper .row {
  position: relative;
  z-index: 2;
}

#Top main .sect_5 .wrapper .row .col:first-child {
  background-color: #fff;
  width: 93%;
  padding: 285px 27.5px 55px 25px;
  border-top-right-radius: 75px;
  order: 2;
  position: unset;
}

#Top main .sect_5 .wrapper .row .col:first-child .txt_cont h3 {
  font-weight: 700;
  font-size: 31px;
  line-height: 43.4px;
  text-align: left;
  letter-spacing: .2em;
  margin-bottom: 19px;
}

#Top main .sect_5 .wrapper .row .col:first-child .txt_cont h4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 30.5px;
  text-align: left;
  letter-spacing: .2em;
}

@media only screen and (max-width: 400px) {
  #Top main .sect_5 .wrapper .row .col:first-child .txt_cont h4 {
    font-size: 4.1vw;
  }
}

#Top main .sect_5 .wrapper .row .col:first-child .txt_cont p {
  line-height: 28.8px;
  text-align: justify;
  letter-spacing: .05em;
  padding: 12px 0 32px;
}

#Top main .sect_5 .wrapper .row .col:first-child .txt_cont .list_btn li {
  border: none;
}

#Top main .sect_5 .wrapper .row .col:first-child .txt_cont .list_btn li a {
  border-bottom: 1px solid #c6c6c6;
}

#Top main .sect_5 .wrapper .row .col:last-child .img_cont {
  width: 68.67%;
  position: absolute;
  top: 22px;
  right: 0;
}

@media screen and (min-width: 425px) {
  #Top main .sect_5 .wrapper .row .col:last-child .img_cont {
    width: 56.67%;
  }
}

@media screen and (min-width: 700px) {
  #Top main .sect_5 .wrapper .row .col:last-child .img_cont {
    width: 50%;
  }
}

@media screen and (min-width: 780px) {
  #Top main .sect_5 .wrapper .row .col:last-child .img_cont {
    width: 43%;
  }
}

#Top main .sect_5 .wrapper .row .col:last-child .img_cont .row {
  align-items: center;
  justify-content: space-between;
}

#Top main .sect_5 .wrapper .row .col:last-child .img_cont .row .col:nth-child(1) {
  width: 30.8%;
  background-color: unset;
  border-top-right-radius: unset;
  padding: 0;
  order: unset;
  margin-top: unset;
}

#Top main .sect_5 .wrapper .row .col:last-child .img_cont .row .col:nth-child(2) {
  width: 35.4%;
  position: relative;
  top: 65px;
}

#Top main .sect_5 .wrapper .row .col:last-child .img_cont .row .col:nth-child(3) {
  width: 30.09%;
  margin-left: unset;
  order: unset;
}

#Top main .sect_6 .wrapper {
  background-image: url(/images/top/sect_6/sp/bg_img.jpg);
  background-size: cover;
  background-position: 0;
  padding-bottom: 22px;
  padding-top: 14px;
}

#Top main .sect_6 .wrapper .container a {
  position: relative;
  display: block;
}

#Top main .sect_6 .wrapper .container a img {
  transition: all .3s linear;
}

#Top main .sect_7 .wrapper {
  background-color: #fff;
  padding-top: 56px;
  padding-bottom: 140px;
}

#Top main .sect_7 .wrapper .container .p_header {
  padding-bottom: 29.5px;
}

#Top main .sect_7 .wrapper .container .p_header .teak {
  color: #987249;
}

#Top main .sect_7 .wrapper .container .post_wrap.row {
  justify-content: flex-start;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col {
  width: 100%;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col:not(:last-child) {
  margin-bottom: 46px;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post_img {
  width: 100%;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post_info {
  width: 100%;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post_info--title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 19px 0 12px;
}

#Top main .sect_7 .wrapper .container .post_wrap.row .col .post_info--excerpt {
  font-size: 16px;
  line-height: 24px;
}

#Top main .sect_7 .wrapper .container .post_viewmore {
  margin: 46px auto 0;
}

#Top main .sect_7 .wrapper .container .list_btn {
  margin: 50px auto 0;
}

#Top main .sect_8 {
  background-color: #b89671;
  padding-top: 100px;
}

#Top main .sect_8 .wrapper {
  position: relative;
}

#Top main .sect_8 .wrapper .container {
  position: relative;
}

#Top main .sect_8 .wrapper .container:nth-child(1) {
  margin-top: -180px;
  margin-bottom: 45px;
}

#Top main .sect_8 .wrapper .container:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
}

#Top main .sect_8 .wrapper .container .row .col:first-child {
  width: 100%;
  padding-bottom: 47px;
  padding-left: 20px;
  padding-right: 20px;
}

#Top main .sect_8 .wrapper .container .row .col:first-child img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

#Top main .sect_8 .wrapper .container .row .col:first-child p {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: .2em;
  color: #fff;
  text-align: center;
  margin-top: 8px;
}

@media only screen and (max-width: 390px) {
  #Top main .sect_8 .wrapper .container .row .col:first-child p {
    font-size: 5vw;
  }
}

#Top main .sect_8 .wrapper .container .row .col:first-child a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 20px 15px 0;
  background-color: #8e693f;
  font-size: 19px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: .08em;
  text-align: center;
  color: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:first-child a:hover {
  background-color: #6a4c29;
}

#Top main .sect_8 .wrapper .container .row .col:first-child a svg {
  width: 15px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

#Top main .sect_8 .wrapper .container .row .col:first-child a svg .cls-1, #Top main .sect_8 .wrapper .container .row .col:first-child a svg .cls-2 {
  stroke: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:first-child a svg .cls-2 {
  fill: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:last-child {
  width: 96%;
  margin-left: auto;
  padding: 54px 30px 51px 25px;
  background-color: #fff;
  border-top-left-radius: 75px;
}

#Top main .sect_8 .wrapper .container .row .col:last-child h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: .2em;
  text-align: center;
  margin-bottom: 23px;
}

@media only screen and (max-width: 335px) {
  #Top main .sect_8 .wrapper .container .row .col:last-child h3 {
    font-size: 18px;
  }
}

#Top main .sect_8 .wrapper .container .row .col:last-child .tel {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 22.34px;
  letter-spacing: .05em;
  color: #2c2c2c;
  text-align: center;
  display: block;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .tel img {
  width: 20px;
  margin-right: 9px;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 32px auto 29px;
  background-color: #dd7e22;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: .08em;
  line-height: 44px;
  color: #fff;
  transition: .3s ease-in-out;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry img {
  width: 21px;
  margin-right: 14px;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry svg {
  width: 15px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry svg .cls-1, #Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry svg .cls-2 {
  stroke: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:last-child .btn_inquiry svg .cls-2 {
  fill: #fff;
}

#Top main .sect_8 .wrapper .container .row .col:last-child h4 {
  font-weight: 700;
  line-height: 17.5px;
  text-align: center;
  margin-bottom: 6px;
}

#Top main .sect_8 .wrapper .container .row .col:last-child p {
  text-align: center;
  line-height: 24px;
  font-size: 15px;
}

@media only screen and (max-width: 370px) {
  #Top main .sect_8 .wrapper .container .row .col:last-child p {
    font-size: 12px;
  }
}

#Top main .sect_8 .wrapper .border_btm {
  width: 96%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

/*==================================
  Contact_reset
==================================*/
main#Contact {
  /*------ Reset CSS ------*/
  /*------ Reset END ------*/
}

main#Contact input {
  -webkit-appearance: none;
}

main#Contact input[type='text'] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

main#Contact input[type='radio'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='radio']:checked + label {
  background: #ff0000;
}

main#Contact input[type='checkbox'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='checkbox']:checked + label {
  background: #ff0000;
}

main#Contact input::placeholder {
  color: #b7b7b7;
}

main#Contact input:-ms-input-placeholder {
  color: #b7b7b7;
}

main#Contact input::-webkit-input-placeholder {
  color: #b7b7b7;
}

main#Contact button,
main#Contact input[type='button'],
main#Contact input[type='submit'] {
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

main#Contact textarea {
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 0;
}

main#Contact select {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}

/*==================================
  Contact_base
==================================*/
/* input, textarea
--------------------------------*/
/* radio_button
--------------------------------*/
main#Contact {
  /*------ Form Base ------*/
  /*------ Form Base END ------*/
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

main#Contact span.error {
  color: #cc0303;
  display: block;
  margin: 7px 0 0;
}

main#Contact input:-webkit-autofill {
  animation-name: onAutoFillStart;
  background: white !important;
  transition: background-color 50000s ease-in-out 0s;
}

main#Contact input[type="text"]:focus,
main#Contact input[type="email"]:focus,
main#Contact input[type="tel"]:focus,
main#Contact input[type="search"]:focus,
main#Contact input[type="url"]:focus,
main#Contact textarea:focus {
  color: #000;
  background-color: #dddddd;
}

main#Contact .ERR {
  color: #cc0303;
}

main#Contact input[type="text"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 12px 21px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  color: #000;
  width: 100%;
}

main#Contact input[type="text"].zip {
  max-width: 247px;
  width: 100%;
}

main#Contact .zip-wrap {
  background: #dddddd;
  display: inline-block;
  position: relative;
  max-width: 247px;
  width: 100%;
  margin-right: 3px;
}

main#Contact .zip-wrap::before {
  content: "〒";
  font-size: 18px;
  position: absolute;
  top: 0.8em;
  left: 24px;
  margin: auto;
}

main#Contact .zip-wrap input {
  padding: 12px 21px 12px 55px;
  width: 100%;
}

main#Contact input[type="button"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #000;
  max-width: 140px;
  width: 100%;
  background: #dddddd;
  border: 3px solid #dddddd;
  padding: 10px 19px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
}

main#Contact input[type="button"]:hover {
  background: none;
}

main#Contact input[type="checkbox"] + label {
  padding-left: 29px;
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

main#Contact input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
}

main#Contact input[type="checkbox"] + label::after {
  content: "";
  opacity: 0;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  display: block;
  height: 9px;
  left: 7px;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

main#Contact input[type="checkbox"]:checked + label {
  background: none;
}

main#Contact input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

main#Contact input[type="radio"] + label {
  padding-left: 27px;
  position: relative;
  margin-right: 27px;
  cursor: pointer;
}

main#Contact input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  border-radius: 50%;
}

main#Contact input[type="radio"] + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #000;
  border-radius: 50%;
  opacity: 0;
}

main#Contact input[type="radio"]:checked + label {
  background: none;
}

main#Contact input[type="radio"]:checked + label::after {
  opacity: 1;
}

main#Contact .select-box {
  overflow: hidden;
  width: 60%;
  text-align: center;
  position: relative;
  border-radius: 2px;
  background: #dddddd;
}

main#Contact .select-box select {
  font-size: 16px;
  color: #000;
  letter-spacing: 0.035em;
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  appearance: none;
  padding: 12px 38px 12px 21px;
}

main#Contact .select-box select::-ms-expand {
  display: none;
}

main#Contact .select-box::before {
  position: absolute;
  top: 1.25em;
  right: 21px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  pointer-events: none;
}

main#Contact textarea {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 21px;
  min-height: 174px;
}

main#Contact .overscroll {
  overflow-y: scroll;
  height: 237px;
  padding: 25px 21px;
  background: #dddddd;
}

main#Contact .overscroll ul > li {
  margin-bottom: 25px;
}

main#Contact .overscroll ul > li strong {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

main#Contact .overscroll ul > li p {
  font-size: 14px;
  line-height: 1.42;
}

main#Contact .overscroll ul > li > ol {
  margin-top: 5px;
}

main#Contact .overscroll ul > li > ol li {
  text-indent: -1.25em;
  padding-left: 1.25em;
}

main#Contact .overscroll ul > li:first-child strong {
  margin-bottom: 20px;
}

main#Contact .overscroll ul > li:last-child {
  margin-bottom: 0;
}

main#Contact .submit_area {
  margin-top: 85px;
  text-align: center;
}

main#Contact .submit_area span {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
}

main#Contact .submit_area span input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area span:hover {
  background: none;
}

main#Contact .submit_area span:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku {
  max-width: 590px;
  margin: 20px auto 0;
}

main#Contact .submit_area ul.koumoku li {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #5f4b08;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #5f4b08;
  transition: all 0.3s ease;
}

main#Contact .submit_area ul.koumoku li input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area ul.koumoku li:hover {
  background: none;
}

main#Contact .submit_area ul.koumoku li:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku li:hover svg path {
  fill: #000;
}

main#Contact .btn_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .btn_back input {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .contact_back a {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back a:hover {
  color: #000;
  background: none;
}

/*==================================
  Contact
==================================*/
main#Contact .container p {
  font-size: 16px;
}

main#Contact .container p > a {
  background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
  padding-bottom: 2px;
  display: inline;
}

main#Contact .agree_area {
  margin: 30px 0 0;
  text-align: center;
}

main#Contact .need {
  color: #cc0303;
}

main#Contact table {
  display: block;
}

main#Contact table tbody {
  display: block;
}

main#Contact table tr {
  display: block;
  margin-bottom: 25px;
}

main#Contact table tr th {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: block;
  text-align: left;
  margin-bottom: 13px;
}

main#Contact table tr th .caution {
  display: block;
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 8px;
}

main#Contact table tr td {
  display: block;
}

main#Contact table tr td .text02 {
  margin-top: 8px;
}

main#Contact .check-list {
  padding-left: 0;
  padding-top: 5px;
}

main#Contact .check-list li {
  display: inline-block;
}

main#Contact .check-list.type > li {
  display: block;
  margin-bottom: 18px;
}

main#Contact .check-list.type > li:last-child {
  margin-bottom: 0;
}

main#Contact .check-list.pedal > li {
  margin-right: 50px;
}

main#Contact .check-list.pedal > li:last-child {
  margin-right: 0;
}

main#Contact .check-list.play {
  margin-bottom: -18px;
}

main#Contact .check-list.play > li {
  padding-bottom: 18px;
  margin-right: 20px;
}

main#Contact .form_wrap > p {
  margin-top: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 500;
}
/*# sourceMappingURL=style_sp.css.map */