/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #444444;
  font-family: YakuHanJP_Noto, "Noto Sans JP", san-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.pc {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  &:visited {
    color: $font-color;
  }
  &:active {
    color: $font-color;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 57px;
  transition: .3s ease-in-out;
  &.scroll{
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
  }
  &.active{
    .header_inner{
      .h_right{
        transform: translateX(0);
        .nav_wrap{
          .top{
            li{
              transform: translateX(0);
              opacity: 1;
            }
          }
          .bottom{
            li{
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .header_inner{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
    transition: .3s ease-in-out;
    .h_left{
      width: 150px;
      .logo{
        a{
          img{

          }
        }
      }
    }

    .h_right{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 55px;
      left: 0;
      z-index: 999;
      background-color: #fff;
      padding-bottom: 100px;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      transition: .3s ease-in-out;
      transform: translateX(-100%);
      .nav_wrap{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 12px 20px 0;
        .top{
          width: 100%;
          display: flex;
          flex-direction: column;
          order: 2;
          li{
            transition: .3s ease-in-out;
            transition-delay: .3s;
            transform: translateX(-50px);
            opacity: 0;
            &:nth-child(3){
              order: 1;
              margin-bottom: 22px;
              p{
                font-weight: 700;
                font-size: 17px;
                letter-spacing: .2em;
                text-align: center;
                line-height: 25.5px;
                padding: 35px 0 14px;

                @include is-max(330px){
                  font-size: 15px
                }
              }
              a{
                @include Jost();
                font-size: 34px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: .05em;
                img{
                  width: 20px;
                  margin-right: 7.5px;
                }
              }
            }
            &:nth-child(2){
              order: 3;
              a{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #8e693f;
                height: 70px;
                width: 100%;
                position: relative;
                font-size: 19px;
                font-weight: 700;
                color: #fff;
                letter-spacing: .08em;
                svg{
                  width: 15px;
                  position: absolute;
                  top: 50%;
                  right: 15px;
                  transform: translate(0, -50%);
                  .cls-2{
                    fill: #fff;
                  }
                  .cls-1, .cls-2 {
                    stroke: #fff;
                  }
                }
              }
            }
            &:nth-child(1){
              order: 2;
              margin-bottom: 17.5px;
              a{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #dd7e22;
                height: 70px;
                width: 100%;
                position: relative;
                font-size: 19px;
                font-weight: 700;
                color: #fff;
                letter-spacing: .08em;
                svg{
                  width: 15px;
                  position: absolute;
                  top: 50%;
                  right: 15px;
                  transform: translate(0, -50%);
                  .cls-2{
                    fill: #fff;
                  }
                  .cls-1, .cls-2 {
                    stroke: #fff;
                  }
                }
              }
            }
            a{
              display: flex;
              font-weight: 700;
              color: #2c2c2c;
              img{
                width: 19px;
                margin-right: 10px;
              }
            }
          }
        }
        .bottom{
          width: 100%;
          display: block;
          order: 1;
          li{
            border-bottom: 1px solid #e5e5e5;
            padding: 11px 12px 12px;
            transition: .3s ease-in-out;
            transition-delay: .3s;
            transform: translateX(-50px);
            opacity: 0;
            &:first-child{
              border-top: 1px solid #e5e5e5;
            }
            &:nth-child(2){
              padding: 11px 0 12px;
              a{
                padding-left: 12px;
              }
            }
            a{
              font-size: 17px;
              color: #2c2c2c;
              font-weight: 500;
            }
            .big_menu{
              display: block;
              border-top: 1px solid #e5e5e5;
              margin-top: 12px;
              .row{
                .col{
                  &:nth-child(1){
                    display: none;
                  } 
                  &:nth-child(2){
                    ul{
                      display: block;
                      padding: 18px 35px 15px;
                      li{
                        padding: 0;
                        border: none;
                        &:not(:last-child){
                          margin-bottom: 20px;
                        }
                        a{
                          font-size: 17px;
                          position: relative;
                          &::after{
                            content: "-";
                            color: #dd7e22;
                            font-size: 17px;
                            position: absolute;
                            top: 0;
                            left: -4px;
                          }
                        }
                      }
                    }
                  }
                  &:nth-child(3){
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    .menu {
      position: relative;
      // background: red;
      width: 30px;
      // height: 30px;
      cursor: pointer;
      transition: .3s ease;
      padding-bottom: 5px;
      span {
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        display: inline-block;
        background: #000;
        width: 30px;
        height: 2px;
        margin: auto;
        transition: 0.3s;
        &.line-t.show {
          top: 10px;
          transform: rotate(35deg);
        }
        &.line-m {
          top: 10px;
          &.show {
            opacity: 0;
          }
        }
        &.line-b {
          top: 19px;
          &.show {
            top: 10px;
            transform: rotate(-35deg);
          }
        }
      }
      p {
        // color: transparent;
        padding: 20px 0 0;
        font-size: 10px;
        text-align: center;
        transition: .3s ease;
      }
    }
  }

  .float_btm_menu{
    width: 100%;
    height: 65px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 800;
    background-color: #dd7e22;
    opacity: 0;
    transition: 0.3s;
    &.active {
      opacity: 1;
    }
    .row{
      height: 100%;
      padding: 2.5px 0;
      .col{
        width: calc(100% / 3);
        &:nth-child(2){
          border-left: 1px solid rgba(255, 255, 255, 0.50);
          border-right: 1px solid rgba(255, 255, 255, 0.50);
          a{
            img{
              width: 18px;
            }
          }
        }
        &:nth-child(3){
          a{
            img{
              width: 13.5px;
            }
          }
        }
        a{
          display: block;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          img{
            width: 17px;
            margin-bottom: 9px;
          }
        }
      }
    }
  }
}

/* footer
==================================*/
footer {
  padding-top: 33px;
  padding-bottom: 100px;
  .footer_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .logo{
      width: 80px;
      margin: 0 auto 22px;
    }
    .f_nav{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .n_left{
        width: 55%;
        display: block;
        li{
          &:first-child{
            width: 100%;
          }
          &:last-child{
            width: 100%;
            position: relative;
            .sub_menu{
              width: 100%;
              margin-top: 10px;
              li{
                text-indent: -10px;
                margin-left: 10px;
                padding-left: 10px;
              }
            }
          }
        }
      }
      .n_right{
        width: 45%;
        display: block;
        li{
          width: 100%;
        }
      }
      li{
        margin-bottom: 10px;
      }
      a{
        font-weight: 500;
        font-size: 14px;
        position: relative;
      }
    }
    .copy{
      width: 100%;
      text-align: center;
      margin-top: 22px;
      small{
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
  }
}
