/*==================================
  Top
==================================*/
#Top main {
  .sect_1{
    .wrapper{
      margin-top: 57px;
      position: relative;
      .swiper{
        .swiper-wrapper{
          height: 275px;
          .swiper-slide{
            &.slide-img-1{
              background-image: url(../images/top/sect_1/img_1.jpg);
              background-size: cover;
              background-position: center center;
            }
            &.slide-img-2{
              background-image: url(../images/top/sect_1/img_2.jpg);
              background-size: cover;
              background-position: center center;
            }
            &.slide-img-3{
              background-image: url(../images/top/sect_1/img_3.jpg);
              background-size: cover;
              background-position: center center;
            }
            &.slide-img-4{
              background-image: url(../images/top/sect_1/img_4.jpg);
              background-size: cover;
              background-position: center center;
            }
          }
        }
      }
      .container{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 10;
        margin: 0 auto;
        transform: translate(0, -50%);
        h2{
          @include Heisei_Kaku();
          font-size: 40px;
          line-height: 46px;
          color: #fff;
        }
        p{
          @include Heisei_Kaku();
          font-size: 11.5px;
          letter-spacing: .26em;
          color: #fff;
          text-indent: 7px;
          margin-top: 10px;
        }
      }
    }
  }

  .sect_2{
    .wrapper{
      padding-top: 31px;
      padding-bottom: 60px;
      .container{
        h3{
          font-weight: 700;
          line-height: 32px;
          letter-spacing: .2em;
          font-size: 20px;
          text-align: center;
          margin-bottom: 39px;
          p{
            font-size: 15px;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: .2em;
            margin-bottom: 4px;
          }
        }
        .post-wrap{
          .post_row{
            position: relative;
            width: 100%;
            margin-left: auto;
            &:first-child{
              padding-bottom: 30px;
              border-bottom: 1px solid #e5e5e5;
            }
            &:not(:first-child){
              padding-bottom: 90px;
              margin-bottom: 30px;
              .post{
                display: flex;
                flex-wrap: wrap;
                figure{
                  width: 38.81%;
                }
                .post_info{
                  width: 61.19%;
                  padding-left: 25px;
                  &_title{
                    padding: 0;
                  }
                  &_date{
                    margin-top: 34px;
                    position: absolute;
                    bottom: 30px;
                    left: 0;
                  }
                }
              }
            }
            &:nth-child(2){
              border-bottom: 1px solid #e5e5e5;
              padding-top: 30px;
            }
            &:last-child{
              padding-bottom: 90px;
              margin-bottom: 0;
            }
            .post_info{
              &_title{
                font-size: 18px;
                font-weight: 700;
                line-height: 27px;
                padding: 18px 0 0;
                margin-bottom: 7px;
              }
              &_excerpt{
                font-size: 15px;
                line-height: 27px;
              }
              &_date{
                box-sizing: border-box;
                display: block;
                width: 100%;
                margin-top: 14px;
                border: 1px solid #c6c6c6;
                padding: 9px 17px 10px;
                font-weight: 700;
                line-height: 20px;
              }
            }
          }
        }
        .post_viewmore{
          margin: 0 auto;
        }
      }
    }
  }

  .sect_3{
    .wrapper{
      background-color: #b89671;
      padding-top: 56px;
      padding-bottom: 50px;
      .container{
        .p_header{
          .white{
            color: #fff;
          }
        }
        .post_wrap{
          &.row{
            justify-content: flex-start;
            .col{
              width: 100%;
              &:not(:last-child){
                margin-bottom: 25px;
              }
              .post{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                &_img{
                  width: 146px;
                }
                &_info{
                  width: calc(100% - 146px);
                  padding-left: 20px;
                  &--title{
                    color: #fff;
                    font-weight: 700;
                    line-height: 20px;
                    padding: 0 0 10px;
                  }
                  &--date{
                    color: #fff;
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .sect_4{
    background-color: #b89671;
    position: relative;
    padding-bottom: 35px;
    .wrapper{
      .container{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        z-index: 2;
        .row{
          .col{
            &:first-child{
              width: 100%;
              padding-right: 55px;
              background-color: #fff;
            }
            &:last-child{
              background-color: #fff;
              width: 93%;
              margin-left: auto;
              padding: 36px 25px 70px 32px;
              border-bottom-left-radius: 75px;
              
              .txt_cont{
                h3{
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 30px;
                  text-align: center;
                  letter-spacing: .2em;
                  @include is-max(360px){
                    font-size: 5.4vw;
                  }
                }
                p{
                  line-height: 28.8px;
                  text-align: justify;
                  padding: 16px 3px 34px;
                }
              }
            }
          }
        }
      }
    }
  }

  .sect_5{
    background-color: #b89671;
    position: relative;
    .wrapper{
      .container{
        position: relative;
        padding-left: 0;
        padding-right: 0;
        z-index: 2;
        &::before{
          content: "";
          display: block;
          width: 100%;
          height: 31%;
          background-color: #fff;
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
        }
        .row{
          position: relative;
          z-index: 2;
          .col{
            &:first-child{
              background-color: #fff;
              width: 93%;
              padding: 285px 27.5px 55px 25px;
              border-top-right-radius: 75px;
              order: 2;
              position: unset;
              .txt_cont{
                h3{
                  font-weight: 700;
                  font-size: 31px;
                  line-height: 43.4px;
                  text-align: left;
                  letter-spacing: .2em;
                  margin-bottom: 19px;
                }
                h4{
                  font-weight: 700;
                  font-size: 17px;
                  line-height: 30.5px;
                  text-align: left;
                  letter-spacing: .2em;
                  @include is-max(400px){
                    font-size: 4.1vw;
                  }
                }
                p{
                  line-height: 28.8px;
                  text-align: justify;
                  letter-spacing: .05em;
                  padding: 12px 0 32px;
                }
                .list_btn{
                  li{
                    border: none;
                    a{
                      border-bottom: 1px solid #c6c6c6;
                    }
                  }
                }
              }
              .img_cont{
                width: 68.67%;
                position: absolute;
                top: 22px;
                right: 0;
                @media screen and (min-width: 425px) {
                  width: 56.67%;
                }
                @media screen and (min-width: 700px) {
                  width: 50%;
                }
                @media screen and (min-width: 780px) {
                  width: 43%;
                }
                .row{
                  align-items: center;
                  justify-content: space-between;
                  .col{
                    &:nth-child(1){
                      width: 30.8%;
                      background-color: unset;
                      border-top-right-radius: unset;
                      padding: 0;
                      order: unset;
                      margin-top: unset;
                    }
                    &:nth-child(2){
                      width: 35.4%;
                      position: relative;
                      top: 65px;
                    }
                    &:nth-child(3){
                      width: 30.09%;
                      margin-left: unset;
                      order: unset;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .sect_6{
    .wrapper{
      background-image: url(/images/top/sect_6/sp/bg_img.jpg);
      background-size: cover;
      background-position: 0;
      padding-bottom: 22px;
      padding-top: 14px;
      .container{
        a{
          position: relative;
          display: block;
          img{
            transition: all .3s linear;
          }
        }
      }
    }
  }
  
  .sect_7{
    .wrapper{
      background-color: #fff;
      padding-top: 56px;
      padding-bottom: 140px;
      .container{
        .p_header{
          padding-bottom: 29.5px;
          .teak{
            color: #b89671;
          }
        }
        .post_wrap{
          &.row{
            justify-content: flex-start;
            .col{
              width: 100%;
              &:not(:last-child){
                margin-bottom: 46px;
              }
              .post{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                &_img{
                  width: 100%;
                }
                &_info{
                  width: 100%;
                  &--title{
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;
                    padding: 19px 0 12px;
                  }
                  &--excerpt{
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
            }
          }
        }
        .post_viewmore{
          margin: 46px auto 0;
        }
        .list_btn{
          margin: 50px auto 0;
        }
      }
    }
  }

  .sect_8{
    background-color: #b89671;
    padding-top: 100px;
    .wrapper{
      position: relative;
      .container{
        position: relative;
        &:nth-child(1){
          margin-top: -180px;
          margin-bottom: 45px;
        }
        &:nth-child(2){
          padding-left: 0;
          padding-right: 0;
        }
        .row{
          .col{
            &:first-child{
              width: 100%;
              padding-bottom: 47px;
              padding-left: 20px;
              padding-right: 20px;
              img{
                width: 90%; 
                display: block;
                margin: 0 auto;
              }
              p{
                font-size: 20px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: .2em;
                color: #fff;
                text-align: center;
                margin-top: 8px;

                @include is-max(390px){
                  font-size: 5vw;
                }
              }
              a{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                margin: 20px 15px 0;
                background-color: #8e693f;
                font-size: 19px;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: .08em;
                text-align: center;
                color: #fff;
                &:hover{
                  background-color: #6a4c29;
                }
                svg{
                  width: 15px;
                  position: absolute;
                  top: 50%;
                  right: 15px;
                  transform: translate(0, -50%);
                  .cls-1, .cls-2{
                    stroke: #fff;
                  }
                  .cls-2{
                    fill: #fff;
                  }
                }
              }
            }
            &:last-child{
              width: 96%;
              margin-left: auto;
              padding: 54px 30px 51px 25px;
              background-color: #fff;
              border-top-left-radius: 75px;
              h3{
                font-size: 20px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: .2em;
                text-align: center;
                margin-bottom: 23px;
                @include is-max(335px){
                  font-size: 18px;
                }
              }
              .tel{
                img{
                  width: 20px;
                  margin-right: 9px
                }
                @include Jost();
                font-size: 34px;
                line-height: 22.34px;
                letter-spacing: .05em;
                color: #2c2c2c;
                text-align: center;
                display: block;
              }
              .btn_inquiry{
                display: block;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                margin: 32px auto 29px;
                background-color: #dd7e22;
                font-size: 19px;
                font-weight: 700;
                letter-spacing: .08em;
                line-height: 44px;
                color: #fff;
                transition: .3s ease-in-out;
                img{
                  width: 21px;
                  margin-right: 14px;
                }
                svg{
                  width: 15px;
                  position: absolute;
                  top: 50%;
                  right: 15px;
                  transform: translate(0, -50%);
                  .cls-1, .cls-2{
                    stroke: #fff;
                  }
                  .cls-2{
                    fill: #fff;
                  }
                }
              }
              h4{
                font-weight: 700;
                line-height: 17.5px;
                text-align: center;
                margin-bottom: 6px;
              }
              p{
                text-align: center;
                line-height: 24px;
                font-size: 15px;

                @include is-max(370px){
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .border_btm{
        width: 96%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;
      }
    }
  }
}
